<a href="https://colab.research.google.com/github/Ganesh9100/100-Days-Of-ML-Code/blob/master/Decision__Tree_implementation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [0]:
df=pd.read_csv('/content/Decision_Tree_ Dataset.csv',index_col=False)

In [25]:
df.head()

#df.drop(['0'],axis=1)

     1      2    3     4    sum Unnamed: 5
0  201  10018  250  3046  13515        yes
1  205  10016  395  3044  13660        yes
2  257  10129  109  3251  13746        yes
3  246  10064  324  3137  13771        yes
4  117  10115  496  3094  13822        yes

In [26]:
len(df) # we have 1000 row
print(df.shape) # we have 1000 rows and 5 columns

(1000, 6)

In [0]:
del df['sum']

In [42]:
df.tail()

       1      2    3     4 Unnamed: 5
995  413  14914  523  4683         No
996  359  14423  927  4838         No
997  316  14872  613  4760         No
998  305  14926  897  4572         No
999  168  14798  834  4937         No

In [33]:
df.shape

(1000, 5)

In [38]:
x=df.values[:,0:4]
x.shape

(1000, 4)

In [0]:
y=df.values[:,4]

In [45]:
y.shape  #  1000 actual value

(1000,)

In [0]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=100)  #randomstate is the  take the data for every 100th row

In [47]:
x_test.shape  # out of 1000 , 300 values are taken for text data

(300, 4)

In [48]:
y_test.shape   # y_test labels

(300,)

so the tree will be like 

**3 layers depth and atleast 5 leafe nodes in the last layer**

In [49]:
clf_entropy=DecisionTreeClassifier(criterion="entropy",random_state=100,max_depth=3,min_samples_leaf=5)
clf_entropy.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=3, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=5, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=100, splitter='best')

In [0]:
y_predict=clf_entropy.predict(x_test)

In [57]:
print(y_predict[10])

No

In [56]:
print(y_test[10])

No

In [55]:
print(x_test[10])

[258 14371 126 3265]

In [0]:
acc=accuracy_score(y_predict,y_test)

In [61]:
print("Accuracy is :", acc*100)

Accuracy is : 93.66666666666667

In [0]:
td=[['Green',3,'ango'],
    ['yellow', 3 ,'lemon'], 
    ['red', 1 ,'grape'], 
    ['red', 1 ,'grape'], 
    ['yellow', 3 ,'lemon']]

In [0]:
z=set([row[2] for row in td])

In [86]:
print(z)

{'mango', 'lemon', 'grape'}

In [116]:
td

[['Green', 3, 'ango'],
 ['yellow', 3, 'lemon'],
 ['red', 1, 'grape'],
 ['red', 1, 'grape'],
 ['yellow', 3, 'lemon']]

In [117]:
def fin(tds):
  counts={}
  for row in tds:
    label=row[-1]
    print(label)
    if label not in counts:
      counts[label]=0

    counts[label]=counts[label]+1
  return counts 

fin(td)

ango
lemon
grape
grape
lemon

{'ango': 1, 'grape': 2, 'lemon': 2}

In [108]:
people = {"Jay", "Idrish", "Archi"} 
  
print("People:", end = " ") 
print(people) 
  
# This will add Daxit 
# in the set 
people.add("Daxit") 
print(people)
people.add("Daxit1") 
print(people)
people.add("Daxit2") 
print(people)

People: {'Idrish', 'Jay', 'Archi'}
{'Daxit', 'Idrish', 'Jay', 'Archi'}
{'Jay', 'Archi', 'Idrish', 'Daxit', 'Daxit1'}
{'Jay', 'Archi', 'Daxit2', 'Idrish', 'Daxit', 'Daxit1'}