<a href="https://colab.research.google.com/github/Ganesh9100/100-Days-Of-ML-Code/blob/master/linear_regressssion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [42]:
companies=pd.read_csv('/content/1000_Companies.csv')
x=companies.iloc[:,:-1].values
y=companies.iloc[:,4].values

companies.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [43]:
print(x[1:20,3])

['California' 'Florida' 'New York' 'Florida' 'New York' 'California'
 'Florida' 'New York' 'California' 'Florida' 'California' 'Florida'
 'California' 'Florida' 'New York' 'California' 'New York' 'Florida'
 'New York']

In [0]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder
labelencoder=LabelEncoder()
x[:,3]=labelencoder.fit_transform(x[:,3])

In [0]:
from sklearn.compose import ColumnTransformer

In [0]:
transformer = ColumnTransformer(
    transformers=[
        ("OneHot",        # Just a name
         OneHotEncoder(), # The transformer class
         [3]              # The column(s) to be applied on.
         )
    ],
    remainder='passthrough' # donot apply anything to the remaining columns
)

In [0]:
x = x.astype('float64')

In [0]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [54]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [55]:
y_predict=regressor.predict(x_test)
print(y_predict)

[ 89624.88499983  88261.44060358  94728.57723845 176034.49990954
  83234.84214495 110393.04058199 131831.18880607  91307.52461765
 164414.26754671  53585.35570743  66786.11950078 150921.89704628
 126746.78121459  59174.341725   177341.80724482  75139.98127599
 118605.9491146  164403.24374731 171336.34862472 181885.06087421
 118762.26624783  85504.5201526  181345.84072646  83979.76201107
 104839.00200137 101067.00608604  53722.31401539  56706.45386115
  68732.18107141 209811.34272095 121136.34391499 111557.54775873
 101309.70393418 138315.39958078  63806.10546728 108690.79660343
 185830.38310114 171796.58186122 174997.97325294 118029.33822338
  96553.52264734 165281.03076793 107557.31012676  50557.29080259
 116871.82636073  58469.02312669 158771.35516035  78902.17488961
 160082.45834529 131494.74562654 185233.67354483 174962.79318566
  93579.64586335  78164.61392891 180561.94494338  84821.87449117
 143256.92009399 170435.21728058  84188.13777206 105128.89266269
 142016.17711741  52352.69882961 141673.45079288 138995.34025103
  98128.17857189 113945.01159246 126574.18191679 151953.63890674
  58689.41162929 174639.30763053 124455.78288593 168894.28704729
  91639.09627154 155988.19861521  84141.93382092  77701.26598966
 120771.67191431  93202.83024556 138851.31833079 143435.03120172
 171502.27009022 139913.58651319 106191.16076064 155470.92422805
 139849.10179055 109994.04650482  69508.71795972  87971.28828425
 139964.21158468 148297.48006333 157734.33411496  58369.48912141
  93529.74798521 113004.58676514  56381.2521726  107236.26789414
 147708.49291934 151962.21946809 167625.09747992 118582.41810675
 121120.89899524 139386.24824009 157345.63664385 122319.5973879
  86914.16840487 105151.69639275  95157.47229309 178205.73461428
 181770.2127381  109652.54183621 165082.82081555 167634.66689263
 157820.13925373 174599.34276711 170025.19931955  52139.17476133
 176766.05450263 104585.0186007   82545.09933122 138709.60895693
 144630.66101185 162033.66822962 170016.12436942 120808.56812142
 159235.56115351 110046.51849225 169491.36019494  60596.99166217
 158866.23532304 157998.74491915 174328.19840197 156112.61616403
 103547.63396397  85458.91251291 141434.05433182 165734.80936825
 121539.62832572 170562.43564135 100864.86949721  82457.94166529
 178471.00347238 101623.88174527  70331.4587885   90072.65723255
  61072.22154665  68736.34043862  73136.92467492 176742.02902153
  90064.57113377 128998.71699737  93032.57243205  88583.13235127
 172664.56674901  60729.9896911  169370.01131309 166278.94500381
 165779.92245025 102529.4900122  181410.55817988  74063.62063787
  91101.59217916 135622.46937921  64747.25748795  71599.65942006
  60428.68269046 184641.61773385 176640.28450044 158725.38392932
 141178.22408898 154429.11848164  58374.50655107  90978.39637071
 152703.57620466 168752.21397631  72309.26825255 116422.20721207
  80448.38430783 149647.19558454 116627.64518798 130022.82306379
 174888.14264374 293492.48984534 146100.99822157 150464.91899219
  86467.61783875  70328.52100342  70458.08685528  68869.46933558
 120487.1622868   89500.33665356 167178.54698757 125346.44063256
  67033.96565195 140708.04064616 118376.48566826 165726.35967814
 169009.62956152 146839.78084885 141215.12028542 108907.75284131]

In [56]:
print(regressor.coef_)

[ 5.27572958e-01  8.44490415e-01  1.06639226e-01 -3.54869857e+02]

In [57]:
print(regressor.intercept_)

-51144.726425721834

In [58]:
from sklearn.metrics import r2_score
r2_score(y_test,y_predict)

0.9112595959622045